.App {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 100vh;
  margin: 0 auto;
}

.bg-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* BLUR elem but no children */
.blur > *:not(div) {
  filter: blur(2px);
}
